<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Expedia Visit History</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/home">Home</a>
        </div>
        <ul class="nav navbar-nav">
            <li><a href="/searchHotels">Search Hotels</a></li>
        </ul>
        <ul class="nav navbar-nav">
            <li><a href="/searchHotels">Expedia Visit History</a></li>
        </ul>
        <ul class="nav navbar-nav">
            <li><a href="/favourites">Favourite Hotels</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="/logout"><span class="glyphicon glyphicon-log-in"></span> Logout </a></li>
        </ul>
    </div>
</nav>
<div class="container">
    <div class="row">
        <div class="col-md-12 text-right">
            <a href="/clearVisitHistory" class="btn btn-danger">Clear history</a>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-12">
            <table class="table table-hover">
                <thread>
                    <tr>
                        <th>Hotel Name</th>
                        <th>Link</th>
                        <th>Visit count</th>
                    </tr>
                    #foreach($row in $visitHistory)
                    <tr>
                        <td>$row[0]</td>
                        <td>$row[1]</td>
                        <td>$row[2]</td>
                    </tr>
                    #end
                </thread>
            </table>
        </div>
    </div>
</div>
</body>
</html>