<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/home">Home</a>
        </div>
        <ul class="nav navbar-nav">
            <li><a href="/searchHotels">Search Hotels</a></li>
        </ul>
        <ul class="nav navbar-nav">
            <li><a href="/viewExpediaVisitHistory">Expedia Visit History</a></li>
        </ul>
        <ul class="nav navbar-nav">
            <li><a href="/favourites">Favourite Hotels</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="/logout"><span class="glyphicon glyphicon-log-in"></span> Logout </a></li>
        </ul>
    </div>
</nav>
<div class="jumbotron text-center">
    <h1>Welcome $username</h1>
    #if($lastLogin !="")
    <h3>Last login: $lastLogin</h3>
    #end
</div>
</body>
</html>