<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hotel Search</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/home">Home</a>
        </div>
        <ul class="nav navbar-nav active">
            <li><a href="/searchHotels">Search Hotels</a></li>
        </ul>
        <ul class="nav navbar-nav">
            <li><a href="/viewExpediaVisitHistory">Expedia Visit History</a></li>
        </ul>
        <ul class="nav navbar-nav">
            <li><a href="/favourites">Favourite Hotels</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="/logout"><span class="glyphicon glyphicon-log-in"></span> Logout </a></li>
        </ul>
    </div>
</nav>
<div class="container">
    <div class="row">
        <div class="col-md-2">
        </div>
        <div class="col-md-10">
            <form action="/searchHotels" method="post">
                <div class="row">
                    <div class="col-md-8">
                        <input type="text" id="search" name="search" class="form-control rounded" placeholder="Search keyword"/>
                    </div>
                    <div class="col-md-2">
                        <input type="submit" class="form-control rounded" value="Search">
                    </div>
                </div>
            </form>
        </div>
    </div>
    <br>
    <hr>
    <br>
    <div class="row">
        <table class="table table-hover">
            <thread>
                <tr>
                    <th>Hotel Id</th>
                    <th>Hotel Name</th>
                    <th>City</th>
                </tr>
                #foreach($hotel in $hotels)
                <tr>
                    <td>$hotel.hotelId</td>
                    <td><a href="/hotelInfo?hotelId=$hotel.hotelId">$hotel.hotelName</a></td>
                    <td>$hotel.hotelCity</td>
                </tr>
                #end
            </thread>
        </table>
    </div>
</div>

</body>
</html>